click==8.1.8
et_xmlfile==2.0.0
mysql==0.0.3
mysql-connector-python==9.1.0
mysqlclient==2.2.7
openpyxl==3.1.5
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
qt6-applications==6.5.0.2.3
qt6-tools==6.5.0.1.3
